body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: helvetica, sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 1.5rem;
}

h3, figure, p {
    margin-bottom: 1rem;
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../img/pattern.jpg");
    margin: 3rem 0;

}
.container {
    width: 63%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% repeat(3, 1fr);
    grid-row-gap: 1rem; 
}

.price {
    font-weight: bold;
    color: blue;
}

/* green section */
.green {
    grid-row: 2/3;
    grid-column: 1/2;
}

.green h2 {
    background-color: mediumspringgreen;
}

/* red section */
.red {
    grid-row: 3/4;
    grid-column: 1/2;
}
.red h2 {
    background-color: lightcoral;
}

/* blue section */
.blue {
    grid-row: 4/5;
    grid-column: 1/2;
}

.blue h2 {
    background-color: skyblue;
}
